footer {
  background-color: #f5f5f5;
  padding: 32px;

  .information {
    display: flex;
    gap: 16px;

    .item {
      flex-basis: 20%;
    }

    .title,
    a {
      display: block;
      font-size: 14px;
      color: #1a1a1a;
      padding: 6px 0;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      font-weight: 700;
    }
  }

  .bot {
    p {
      font-size: 12px;
      color: #474747;
      text-align: center;
    }

    .img {
      display: flex;
      justify-content: center;
      margin-top: 12px;
    }
  }
}
